* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#snake-field {
  background: black;
  border: 1px solid rgb(102, 194, 102);
  width: 401px;
}

#snake-start, #snake-renew {
  width: 150px;
  padding: 15px;
  color: white;
  background: green;
  text-align: center;
  float: left;
  margin-right: 10px;
}

.game-table {
  border-collapse: collapse;
}

td.game-table-cell {
  width: 20px;
  height: 20px;
  border: 1px dotted #eee;
  border-collapse: collapse;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.snake-unit {
  background-color: aliceblue;
}

.food-unit {
  background-color: red;
}

.stone-unit {
  background-color: rgb(226, 129, 65);
}